{% extends "shibei_web/bases.html" %}
{% load static %}

<html>
<body>
{% block same %}
<div class="container">
    <div class="page wthree-3">
        <div class="ser-top ser-top-c">
            <h2 class="tittle">动态</h2>
        </div>

        <div class="grid_3 grid_4 w3layouts">
            <h3 class="hdg">动态列表</h3>
            <div class="bs-example">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><a href="{% url 'shibei_web:code' %}"><h3 id="h1.-bootstrap-heading">拾贝动态1<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h3></a></td>
                            <td class="type-info">2019.01.02</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'shibei_web:code' %}"><h3 id="h1.-bootstrap-heading">拾贝动态1<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h3></a></td>
                            <td class="type-info">2019.01.02</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'shibei_web:code' %}"><h3 id="h1.-bootstrap-heading">拾贝动态1<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h3></a></td>
                            <td class="type-info">2019.01.02</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'shibei_web:code' %}"><h3 id="h1.-bootstrap-heading">拾贝动态1<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h3></a></td>
                            <td class="type-info">2019.01.02</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'shibei_web:code' %}"><h3 id="h1.-bootstrap-heading">拾贝动态1<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h3></a></td>
                            <td class="type-info">2019.01.02</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'shibei_web:code' %}"><h3 id="h1.-bootstrap-heading">拾贝动态1<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h3></a></td>
                            <td class="type-info">2019.01.02</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>