{% extends "shibei_web/bases.html" %}
{% load static %}
<body>
{% block same %}
<div class="services wthree-3">
	<div class="container">
        <div class="col-md-12 services-grid">
            <h4>>> 返回</h4><hr>
            <div class="col-md-7 serv-img mask">
                <img src="{% static 'shibei_web/images/i2.jpg' %}" alt="" class="img-responsive zoom-img">
            </div>
            <div class="col-md-5 serv-text">
                <h4>Et iusto odio dignissimos </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,sed do eiusmod tempor incididunt .</p>
                <ul class="contact-list agileits-6">
                    <li><span class="repin" aria-hidden="true">作者：</span></li>
                    <li><span class="repin" aria-hidden="true">时间：</span></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
	</div>
</div>
{% endblock %}
</body>
</html>