{% extends "shibei_web/base.html" %}
{% load static %}
<html>
<body>
{%block same %}
<div class="agileinfo">
	<div class="container">
		<h3>公司产品</h3>
		<div class="flexslider-info">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner-info">
								<div class="col-md-7 agileinfo-left">
									<img src="{% static 'shibei_web/images/slide-5.jpg' %}" alt="">
								</div>
								<div class="col-md-5 agileinfo-grid grid-one">
									<h4>公安集成资源管理平台（IPRP）</h4>
									<p>基于GIS立足于公安交警勤务工作管理整合公安交警多个平台数据结合警务实战管理要求进行综合应用的资源集成综合管理系统平台，同时也是警务工作管理的门户。</p>	
								</div>
								<div class="clearfix"></div>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<div class="col-md-7 agileinfo-left">
									<img src="{% static 'shibei_web/images/slide-5.jpg' %}" alt="">
								</div>
								<div class="col-md-5 agileinfo-grid grid-one">
									<h4>公安社会综合治理管理平台（RSCC）</h4>
									<p>基于"互联网+"的信息化平台。以管理创新为导向，以云计算、大数据、物联网、移动互联网等新一代IT信息技术为手段，实现社会综合治理的高效化和精细化。</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<div class="col-md-7 agileinfo-left">
									<img src="{% static 'shibei_web/images/slide-5.jpg' %}" alt="">
								</div>
								<div class="col-md-5 agileinfo-grid grid-one">
									<h4>医保医师数据库管理</h4>
									<p>医保医师公众门户</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<div class="col-md-7 agileinfo-left">
									<img src="{% static 'shibei_web/images/slide-5.jpg' %}" alt="">
								</div>
								<div class="col-md-5 agileinfo-grid grid-one">
									<h4>动车应急指挥</h4>
									<p>******************************************************</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<div class="col-md-7 agileinfo-left">
									<img src="{% static 'shibei_web/images/slide-5.jpg' %}" alt="">
								</div>
								<div class="col-md-5 agileinfo-grid grid-one">
									<h4>展板盒子（BBOX）</h4>
									<p>*****************************************************</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>

<div class="friend-agent agileits-1">
    <h3 style="font-size: 36px;color: #EFA52C;margin-bottom: 50px;text-align: center;">我们为您提供的服务</h3>
    <div class="container">
        <div class="friend-grids">
            <div class="col-md-4 friend-grid">
                <!-- <img src="../../static/shibei_web/images/i4.jpg" alt="" class="img-responsive" > -->
                <h4>初始建库</h4>
                <p>对已经存在的Excel数据，或其他系统的数据通过工程师直接批量导入建库。</p>
            </div>
            <div class="col-md-4 friend-grid">
                <!-- <img src="../../static/shibei_web/images/i5.jpg" alt="" class="img-responsive" > -->
                <h4>定制开发</h4>
                <p>现在的系统功能可能与您的需求有一定的差异，我们可以在此基础上有偿定制开发。</p>
            </div>
            <div class="col-md-4 friend-grid">
                <!-- <img src="../../static/shibei_web/images/i6.jpg" alt="" class="img-responsive" > -->
                <h4>系统培训</h4>
                <p>针对业务人员的系统使用的培训；同时对IT管理人员的系统维护的培训。</p>
            </div>
            <div class="col-md-4 friend-grid">
                <!-- <img src="../../static/shibei_web/images/i4.jpg" alt="" class="img-responsive" > -->
                <h4>即时维护</h4>
                <p>系统可关联我方维护邮箱，故障可立即报送，可即时处理，重大故障现场处理。</p>
            </div>
            <div class="col-md-4 friend-grid">
                <!-- <img src="../../static/shibei_web/images/i5.jpg" alt="" class="img-responsive" > -->
                <h4>系统升级</h4>
                <p>免费提供系统优化升级，有偿提供功能升级和功能扩展。</p>
            </div>
            <div class="col-md-4 friend-grid">
                <!-- <img src="../../static/shibei_web/images/i6.jpg" alt="" class="img-responsive" > -->
                <h4>技术支持</h4>
                <p>其他单位需要与本系统对接，在业主的要求下提供技术支持和相关接口文档。</p>
            </div>
            <!-- <div class="clearfix"></div> -->
        </div>
    </div>
</div>

<div class="wthree-1">
	<h2>合作伙伴</h2>
	<div class="container">
        <div class="sap_tabs">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <div class="tab">
                    <ul>
                        <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><img src="../../static/shibei_web/images/t.jpg"></li>
                        <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><img src="../../static/shibei_web/images/t1.jpg"></li>
                        <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><img src="../../static/shibei_web/images/t2.jpg"></li>
                    </ul>
                </div>
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                    <p>Standard dummy text ever since the Lorem Ipsum has been the industry's   to make a type specimen book.standard dummy 1500s, when an unknown printer took a galley of type and scrambled it text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h4>- 合作方1</h4>
                </div>
                <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h4>- 合作方2</h4>
                </div>
                <div class="tab-3 resp-tab-content" aria-labelledby="tab_item-2">
                    <p>Industry's standard dummy text ever since the 1500s, when an unknown printer Lorem  scrambled it to make a type specimen book.standard dummy text ever since the 1500s, when an unknown printer Ipsum has been the took a galley of type and  took a galley of type and scrambled it to make a type specimen book.</p>
                    <h4>- 合作方2</h4>
                </div>
            </div>
        </div>
	</div>	
</div>

<div class="w3l-1">
    <div class="container">
	    <h3 class="text-center">待定功能模块</h3>
	    <p class="ttt">when an unknown printer took a galley of type and scrambled Lorem Ipsum passages, and more recently it to make a type specimen book.</p>
        <div class="col-md-6 centered w3l-1-left">
            <h4>Letraset sheets containing </h4>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-6 w3l-1-right"></div>
    </div>
</div>	
	
{% endblock %}

{% block js %}
<link rel="stylesheet" href="../../static/shibei_web/css/flexslider.css" type="text/css" media="screen" />
<script defer src="../../static/shibei_web/js/jquery.flexslider.js"></script>
<script type="text/javascript">
$(window).load(function(){
  $('.flexslider').flexslider({
    animation: "slide",
    start: function(slider){
      $('body').removeClass('loading');
    }
  });
});
</script>

<script src="../../static/shibei_web/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
{% endblock %}

</body>
</html>