{% extends "shibei_web/base-services4.html" %}
{% load static %}
<html>
<body>
{%block same %}
<div class="w3l-1">
    <div class="container">
        <h3 class="text-center">主要功能</h3><br>
        <!-- <p class="ttt">专用客户端简洁美观、操作方便<br>兼容Linux、MAC、Windows7、8、10</p> -->
        <div class="col-md-12 centered w3l-1-left">
            <h4>PC客户端&nbsp;/&nbsp;&nbsp;管理系统</h4>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-12 centered w3l-1-left">
            <h4>PC客户端&nbsp;/&nbsp;沙盘展示</h4>
            <p>专用客户端简洁美观、操作方便。It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>实时动态感知。It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-12 centered w3l-1-left">
            <h4>手机APP&nbsp;/&nbsp;移动端</h4>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-12 centered w3l-1-left">
            <h4>PC客户端&nbsp;/&nbsp;可视大数据</h4>
            <p>对各种大数据指标汇总展示。动态数据展示。It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>静态数据展示。It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>GIS分析。It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-12 centered w3l-1-left">
            <h4>资源智能搜索</h4>
            <p>内置搜索引擎。It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>智能精确相关推荐。It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>分类缩小搜索范围。It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>关键词高亮。It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
    <div class="container">
        <h3 class="text-center">特点</h3>
        <!-- <p class="ttt">when an unknown printer took a galley of type and scrambled Lorem Ipsum passages, and more recently it to make a type specimen book.</p> -->
        <div class="col-md-12 centered w3l-1-left">
            <h4>操作简单，易上手。</h4>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-12 centered w3l-1-left">
            <h4>接口丰富规范，可在线调试，安全可控。</h4>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

    </div>
<div class="agileinfo">
    <div class="container">
        <h3>系统界面截屏</h3>
        <div class="flexslider-info">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services4_1.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services4_2.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services4_3.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services4_4.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services4_5.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services4_6.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services4_7.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services4_8.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services4_9.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services4_10.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static 'shibei_web/css/flexslider.css' %}" type="text/css" media="screen" />
<script defer src="{% static 'shibei_web/js/jquery.flexslider.js' %}"></script>
<script type="text/javascript">
$(window).load(function(){
  $('.flexslider').flexslider({
    animation: "slide",
    start: function(slider){
      $('body').removeClass('loading');
    }
  });
});
</script>

<script src="{% static 'shibei_web/js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
{% endblock %}

</body>
</html>