{% extends "shibei_web/base-services3.html" %}
{% load static %}
<html>
<body>
{%block same %}
<div class="services wthree-3">
    <div class="container">
            <h2 class="tittle">系统操作特性</h2>
            <div class="services-grids">
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.1.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>个性化主页定制 </h4>
                        <p>把你最关注的工作放在首页，同时可调整显示的位置.</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.2.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>快捷入口</h4>
                        <p>在系统界面的顶部提供快速添加于快速查询方式.</p>
                    </div>
                </div>
               <div class="clearfix"> </div>
            </div>
            <div class="services-grids">
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.3.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>模糊与精确查询</h4>
                        <p>对任何的都提供模糊和精确查询两种方式.</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.4.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>书签功能</h4>
                        <p>对多种条件组合的查询，可以保存为书签.</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
              <div class="clearfix"> </div>
            </div>
            <div class="services-grids">
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.5.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>即时编辑</h4>
                        <p>在设定的表格中直接编辑保持数据.</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.6.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>批量编辑</h4>
                        <p>可对设定的数据批量修改和删除.</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
              <div class="clearfix"> </div>
            </div>
            <div class="services-grids">
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.7.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>列表与卡片模式</h4>
                        <p>对人员的信息可展示为列表也可展示为卡片.</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.8.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>多种格式数据导出</h4>
                        <p>支持Excel、JSON、XML、CSV格式.</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
              <div class="clearfix"> </div>
            </div>
            <div class="services-grids">
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.9.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>多种风格选择</h4>
                        <p>提供17种界面风格可以任意选择.</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.10.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>多种终端支持</h4>
                        <p>支持手机、平板、PC访问，界面自适应.</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
              <div class="clearfix"> </div>
            </div>
            <div class="services-grids">
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.11.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>数据版本监控</h4>
                        <p>业务数据异动监控，同时可恢复。</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 services-grid">
                    <div class="col-md-5 serv-img mask">
                        <img src="{% static 'shibei_web/images/services3.12.jpg' %}" alt="" class="img-responsive zoom-img">
                    </div>
                    <div class="col-md-7 serv-text">
                        <h4>表格显示列控制</h4>
                        <p>一般显示常用列，可根据需求选择隐藏列.</p>
                    </div>
                  <div class="clearfix"> </div>
                </div>
              <div class="clearfix"> </div>
            </div>
    </div>
</div>
<div class="friend-agent agileits-1">
    <h3 style="font-size: 36px;color: #EFA52C;margin-bottom: 50px;text-align: center;">系统功能特性</h3>
    <div class="container">
        <h4 style="color:#EFA52C; font-weight:bold;">医保医师服务公众服务系统</h4>
        <div class="friend-grids">
            <div class="col-md-4 friend-grid">
                <h4>首页</h4>
                <p>模块分明,极致用户体验</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医保医师查询</h4>
                <p>根据身份证号码或名称查询，支持模糊查询</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医保机构查询</h4>
                <p>根据编码或名称查询，支持模糊查询</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政策法规</h4>
                <p>政策法规查询浏览</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>系统升级</h4>
                <p>免费提供系统优化升级，有偿提供功能升级和功能扩展。</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政务要闻</h4>
                <p>政务新闻、政务信息公开</p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:50px;">
        <h4 style="color:#EFA52C; font-weight:bold;">医保医师服务后台管理系统</h4>
        <div class="friend-grids">
            <div class="col-md-4 friend-grid">
                <h4>个人管理主页</h4>
                <p>根据个人的喜好和需要<br>自定义个人管理主页</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医疗机构管理</h4>
                <p>根据权限设置<br>查询、添加、删除、更新医疗机构</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医疗机构大型设备管理</h4>
                <p>根据权限设置<br>查询、添加、删除、更新医疗机构大型设备</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医保医师管理</h4>
                <p>根据权限设置查询、添加、删除、更新<br>医保医师基本信息，支持多点执业</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医保医师培训管理</h4>
                <p>根据权限设置查询、添加、删除、更新<br>医保医师培训信息</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医保医师协议管理</h4>
                <p>根据权限设置查询、添加、删除、更新<br>医保医师协议信息</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医保医师考核管理</h4>
                <p>根据权限设置查询、添加、删除、更新<br>医保医师考核信息</p>
            </div>
             <div class="col-md-4 friend-grid">
                <h4>医保医师违规管理</h4>
                <p>根据权限设置查询、添加、删除、更新<br>医保医师违规信息</p>
            </div>
             <div class="col-md-4 friend-grid">
                <h4>医保医师异动管理</h4>
                <p>根据权限设置查询、添加、医保医师异动信息<br>并能查看历史移动信息，同时可转移录入</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医保医师批量导入</h4>
                <p>根据系统预定的格式<br>通过Excel可批量导入</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>专家管理</h4>
                <p>根据权限设置查询、添加、删除、更新<br>专家信息</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>专家抽调</h4>
                <p>在处理纠纷和扣款申诉时<br>可随机抽调评审专家</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>法律法规管理</h4>
                <p>根据权限设置查询、添加、删除、更新<br>法律法规条款信息</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>纠纷处理</h4>
                <p>根据权限设置查询、添加、删除、处理纠纷信息<br>可评审专家抽调和处理文书生成</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>扣款申诉</h4>
                <p>根据权限设置查询、添加、删除、处理扣款申诉信息<br>可评审专家抽调和处理文书生成</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>综合查询</h4>
                <p>根据权限<br>设置各种基础信息的汇总查询</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>内部通知发布</h4>
                <p>根据权限设置查询、发布、删除<br>站内的通知信息</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>数据版本管理</h4>
                <p>根据权限设置查询、恢复<br>被修改过的历史数据</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>角色管理</h4>
                <p>如医保机构、医保管理部门、<br>接口使用单位等。</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>权限管理</h4>
                <p>可根据角色或用户<br>设置权限</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医疗机构权限管理</h4>
                <p>限定用户<br>只能操作与所在医疗机构相关的数据。</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政务要闻发布管理</h4>
                <p>可发布、审核通知、<br>政务新闻和政务公开的信息</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政策法规发布管理</h4>
                <p>相关的<br>法律法规的发布</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医保医师违规曝光发布管理</h4>
                <p>违规情况的审核<br>发布</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>相关链接管理</h4>
                <p>动态添加<br>相关链接</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>资源文件管理</h4>
                <p>站内上传的文件图片<br>统一查看、下载管理</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政务要闻</h4>
                <p>政务新闻<br>政务信息公开</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政务要闻</h4>
                <p>政务新闻<br>政务信息公开</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政务要闻</h4>
                <p>政务新闻<br>政务信息公开</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政务要闻</h4>
                <p>政务新闻<br>政务信息公开</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政务要闻</h4>
                <p>政务新闻<br>政务信息公开</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政务要闻</h4>
                <p>政务新闻<br>政务信息公开</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>政务要闻</h4>
                <p>政务新闻<br>政务信息公开</p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:50px;">
        <h4 style="color:#EFA52C; font-weight:bold;">微信公众号</h4>
        <div class="friend-grids">
            <div class="col-md-4 friend-grid">
                <h4>消息管理</h4>
                <p>根据权限查看、删除用户与系统交互信息</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>用户分组管理</h4>
                <p>根据权限对用户分组并同步到微信服务器上</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>订阅用户管理</h4>
                <p>根据权限订阅用户更新、同步及查询</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>资源模板管理</h4>
                <p>根据权限对常用资源查询，编辑删除</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>服务内容管理</h4>
                <p>根据权限给用户提供针对性的服务内容</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>微信菜单</h4>
                <p>定制微信的菜单并同步到微信服务器</p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:50px;">
        <h4 style="color:#EFA52C; font-weight:bold;">接口系统</h4>
        <div class="friend-grids">
            <div class="col-md-4 friend-grid">
                <h4>医疗机构HIS系统对接接口</h4>
                <p>实现医保医师违规信息及相关开单信息自动录入和数据上报</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>医保系统和智能审核系统对接接口</h4>
                <p>实现调取医保结算数据和审核数据和重要业务结果上报</p>
            </div>
            <div class="col-md-4 friend-grid">
                <h4>对外数据读取和写入接口</h4>
                <p>实现相关业务系统调用本系统数据或向本系统推送数据</p>
            </div>
        </div>
    </div>
</div>
<div class="agileinfo">
    <div class="container">
        <h3>系统界面精选&nbsp;/&nbsp;简约,但不简单</h3>
        <div class="flexslider-info">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services3_1.jpg' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services3_2.jpg' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static 'shibei_web/css/flexslider.css' %}" type="text/css" media="screen" />
<script defer src="{% static 'shibei_web/js/jquery.flexslider.js' %}"></script>
<script type="text/javascript">
$(window).load(function(){
  $('.flexslider').flexslider({
    animation: "slide",
    start: function(slider){
      $('body').removeClass('loading');
    }
  });
});
</script>

<script src="{% static 'shibei_web/js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
{% endblock %}

</body>
</html>