{% extends "shibei_web/base-services2.html" %}
{% load static %}
<html>
<body>
{%block same %}

<div class="w3l-1">
    <div class="container">
        <h3 class="text-center">项目背景</h3>
        <div class="col-md-12 centered w3l-1-left">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社会维稳治安综合治理，
                是在党委、政府统一领导下，在充分发挥政法部门特别是
                公安机关骨干作用的同时，组织和依靠各部门、各单位和人民群众的力量，综合运
                用政治的、经济的、行政的、法律的、文化的、教育的等多种手段，通过加强打击、
                防范、教育、管理、建设、改造等方面的工作，实现从根本上预防和治理违法犯罪，
                化解不安定因素，维护社会治安持续稳定的一项系统工程。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社会治安综合治理的主要目标是：
                社会稳定，重大恶性案件和多发性案件得到控制并逐步有所下降，社会丑恶现象大大减少，
                治安混乱的地区和单位的面貌彻底改观，治安秩序良好，群众有安全感。</p>
        </div>
    </div>
    <div class="container">
        <h3 class="text-center">仲巴社会维稳综合治理平台—建设目标</h3>
        <div class="col-md-12 centered w3l-1-left">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社会维稳综合管理是社会管理方式的一种革命和创新。
                该模式依托统一的社会管理以及数字化的平台，将社会管理辖区按照一定的 标准划分成为单元网格。
                通过加强对单元网格的部件和事件巡查，建立一种监督和处置互相分离的形式。主要优势是<span style="color: red;font-weight:bold">主动发现，及时处理，</span>
                加强政府对社会的管理能力和处理速度。因此，为切实提高社会管理的实效性，社会管理网格化机制的建立和实施势在必行。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;探索符合仲巴特点的社会管理服务新模式，建立健全常态化的社会管理服务
                体制，建立和完善发现及时、协调有序、处置有力、监督有效、责任落实、
                服务到位的社会综合管理服务网格化运行机制。<span style="color: red;font-weight:bold">实现对重点关注人员、事件、
                机动车的动态监测，监督其工作</span>，提高其工作效率，提高其服务质量。</p>
        </div>
    </div>
    <div class="container">
    <h3 class="text-center" style="margin-bottom:40px;margin-top:40px;">仲巴社会维稳综合治理平台物理构成</h3>
    <div class="col-md-12 centered w3l-1-left" style="text-align: center;">
        <div class="col-md-4 serv-img mask" >
            <h4 style="text-align: center;">外场</h4>
            <p>监控球机</p>
            <p>&nbsp;</p>
            <p>枪机</p>
        </div>
        <div class="col-md-4 serv-img mask">
            <h4 style="text-align: center;">指挥中心</h4>
            <p>机房</p>
            <p>大屏子系统</p>
            <p>会议子系统</p>
            <p>指挥中心坐席</p>
        </div>
        <div class="col-md-4 serv-img mask">
            <h4 style="text-align: center;">网络</h4>
            <p>县区政法网</p>
            <p>公安互通</p>
            <p style="color: red;">移动勤务VPN网络</p>
        </div>
    </div>
</div>
    <div class="container">
    <h3 class="text-center" style="margin-bottom:40px;margin-top:40px;">仲巴社会维稳综合治理平台物理构成—外场情况</h3>
    <div class="col-md-12 centered w3l-1-left" style="text-align: center;">
        <div class="col-md-1 serv-img mask" >
        </div>
        <div class="col-md-2 serv-img mask" >
            <p style="color:#19b4d7;">200万监控球机</p>
            <img src="{% static 'shibei_web/images/services2.1.jpg' %}" alt="200万监控球机">
        </div>
        <div class="col-md-2 serv-img mask">
            <p style="color:#19b4d7;">700万一体化抓拍单元</p>
            <img src="{% static 'shibei_web/images/services2.2.jpg' %}" alt="700万一体化抓拍单元">
        </div>
        <div class="col-md-2 serv-img mask">
            <h4 style="text-align: center;">名称</h4>
            <p>&nbsp;</p>
            <p style="font-weight:bold">监控球机</p>
            <p>&nbsp;</p>
            <p style="font-weight:bold">一体化抓拍单元</p>
        </div>
        <div class="col-md-2 serv-img mask">
            <h4 style="text-align: center;">接通数&nbsp;/&nbsp;总数</h4>
            <p>&nbsp;</p>
            <p style="font-weight:bold">18&nbsp;/&nbsp;61</p>
            <p>&nbsp;</p>
            <p style="font-weight:bold">2&nbsp;/&nbsp;2</p>
        </div>
        <div class="col-md-2 serv-img mask">
            <h4 style="text-align: center;">覆盖范围</h4>
            <p>&nbsp;</p>
            <p style="font-weight:bold">县城、帕阳镇、警务站</p>
            <p>&nbsp;</p>
            <p style="font-weight:bold">2个检查站</p>
        </div>
    </div>
</div>
    <div class="container">
    <h3 class="text-center" style="margin-bottom:40px;margin-top:40px;">仲巴社会维稳综合治理综合治理平台物理构成</h3>
    <div class="col-md-12 services-grid">
                <div class="col-md-5 serv-img mask">
                    <img src="{% static 'shibei_web/images/services2.3.jpg' %}" alt="" class="img-responsive zoom-img">
                </div>
                <div class="col-md-7 serv-text">
                    <h4 style="color: #EFA52C;">内场情况</h4><br><br>
                    <p style="font-weight:bold"><span style="color:#19b4d7;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机房情况：</span>机柜13套，服务器5台，UPS一套，政法网、公安网已经联通；电视信号联通。</p><br><br>
                    <p style="font-weight:bold"><span style="color:#19b4d7;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;指挥大厅情况:</span>坐席30个，联通12个，4套一机双屏，可投射大屏4套；高清大屏1.6小间距<br>LED8.55x2.55；电视信号可以投射；维稳点名会议系统可点名与市局互通。</p><br><br>
                    <p style="font-weight:bold"><span style="color:#19b4d7;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;会议室情况：</span>机要会议室坐席16个，已经正常使用机要会议室坐席36个，已经正常使用。</p><br><br>
                    <p style="font-weight:bold"><span style="color:#19b4d7;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休息室情况:</span>已经正常使用。</p>
                </div>
                <div class="clearfix"> </div>
            </div>
</div>
    <div class="container">
        <h3 class="text-center" style="margin-bottom:40px;margin-top:60px;">仲巴社会维稳综合治理综合治理平台物理构成—网络情况</h3>
        <img src="{% static 'shibei_web/images/services2.4.jpg' %}" alt="">
    </div>
    <div class="container">
        <h3 class="text-center" style="margin-bottom:40px;margin-top:60px;">仲巴社会维稳综合治理综合治理平台软件系统构成</h3>
        <img src="{% static 'shibei_web/images/services2.5.jpg' %}" alt="">
    </div>
    <div class="container">
        <h3 class="text-center" style="margin-bottom:40px;margin-top:60px;">仲巴社会维稳综合治理综合治理平台软件系统—会议子系统</h3>
        <img src="{% static 'shibei_web/images/services2.6.jpg' %}" alt="">
    </div>
    <div class="container">
        <h3 class="text-center" style="margin-bottom:40px;margin-top:60px;">仲巴社会维稳综合治理综合治理平台软件系统—大屏展示子系统</h3>
        <img src="{% static 'shibei_web/images/services2.7.jpg' %}" alt="">
    </div>
    <div class="container">
    <h3 class="text-center" style="margin-bottom:40px;margin-top:40px;">仲巴社会维稳综合治理综合治理平台软件系统—移动勤务子系统</h3>
    <div class="col-md-12 services-grid">
        <div class="col-md-3 serv-img mask">
            <img src="{% static 'shibei_web/images/services2.8.jpg' %}" alt="">
        </div>
        <div class="col-md-3 serv-img mask">
            <img src="{% static 'shibei_web/images/services2.9.jpg' %}" alt="">
        </div>
        <div class="col-md-3 serv-img mask">
            <img src="{% static 'shibei_web/images/services2.10.jpg' %}" alt="">
        </div>
        <div class="col-md-3 serv-img mask">
            <img src="{% static 'shibei_web/images/services2.11.jpg' %}" alt="">
        </div>
    </div>
</div>
    <div class="container">
        <h3 class="text-center" style="margin-bottom:40px;margin-top:60px;">仲巴社会维稳综治集成软件平台组成</h3>
        <img src="{% static 'shibei_web/images/services2.19.jpg' %}" alt="">
    </div>
    <div class="container">
        <h3 class="text-center" style="margin-bottom:40px;margin-top:60px;">仲巴社会维稳综治集成软件平台—核心平台功能</h3>
        <img src="{% static 'shibei_web/images/services2.20.jpg' %}" alt="">
    </div>
    <div class="container">
        <h3 class="text-center" style="margin-bottom:40px;margin-top:60px;">仲巴社会维稳综治集成软件平台—桌面管理系统</h3>
        <img src="{% static 'shibei_web/images/services2.21.jpg' %}" alt="">
        <p>&nbsp;</p>
        <img src="{% static 'shibei_web/images/services2.24.jpg' %}" alt="">
    </div>
    <div class="container">
        <h3 class="text-center" style="margin-top:60px;">仲巴社会维稳综治集成软件平台—桌面沙盘系统</h3>
        <p style="text-align: center;color: #EFA52C;font-size:20px;font-weight:bold;">指挥调度模式<br>
            1.事件报警（周边视频、警力关联）<br>2.警力实时位置跟踪（定位、发任务、语音对讲、视频）<br>3.分组集群调度<br>4.处置跟踪
        </p>
        <img src="{% static 'shibei_web/images/services2.22.jpg' %}" alt="">
        <p style="text-align: center;color: #EFA52C;font-size:20px;font-weight:bold;margin-top:40px;">数据可视化模式<br>
            1.人口流动情况<br>2.事件发生及处置情况<br>3.油料销售情况<br>4.机动车流动情况<br>。。。。。。
        </p>
        <img src="{% static 'shibei_web/images/services2.23.jpg' %}" alt="">
    </div>
</div>
<div class="agileinfo">
    <div class="container">
        <h3>产品截图</h3>
        <div class="flexslider-info">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services2_1.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services2_2.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services2_3.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services2_4.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services2_5.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <div class="col-md-12 agileinfo-left">
                                    <img src="{% static 'shibei_web/images/services2_6.png' %}" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static 'shibei_web/css/flexslider.css' %}" type="text/css" media="screen" />
<script defer src="{% static 'shibei_web/js/jquery.flexslider.js' %}"></script>
<script type="text/javascript">
$(window).load(function(){
  $('.flexslider').flexslider({
    animation: "slide",
    start: function(slider){
      $('body').removeClass('loading');
    }
  });
});
</script>

<script src="{% static 'shibei_web/js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
{% endblock %}

</body>
</html>